ion-item:hover {
    --background: #009000;
    --color: var(--ion-color-primary-contrast);
}

ion-item {
    /* --padding-start: 20px;
    --padding-end: 20px; */
    display: flex !important;
    align-content: center !important;
    align-items: center !important;
}

ion-item::part(detail-icon) {
    color: #ff00ff;
    opacity: 1
}

.ion-margin-x {
    margin-left: 20px;
    margin-right: 20px;
    
}



