ion-item:hover {
    --background: #009000;
    --color: var(--ion-color-primary-contrast);
}

ion-item {
    --padding-start: 20px;
}

ion-item::part(detail-icon) {
    color: #ff00ff;
    opacity: 1
}

